<style>
  .panelContent {
    height: 100%;
  }
</style>

<!--
<md-content style="height: inherit;cursor: auto;">
  <md-list flex style="padding: 0;">
    <md-list-item class="md-1-line" style="padding: 0 8px;">
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-repeat="btn in headerBtn" class="md-fab" aria-label="btn.label" style="height: 40px; width: 40px; padding:0;"
          ng-click="headerBtnClick(btn)">
          <md-tooltip>{{btn.label}}</md-tooltip>
          <ng-md-icon icon="{{btn.icon}}" style="fill:white; height: 24px;"></ng-md-icon>
        </md-button>
      </section>
    </md-list-item>
  </md-list>

  <md-subheader class="md-no-sticky" style="padding: 5px 0;">Theme List</md-subheader>

  <md-list>
    <div ng-repeat="theme in themes">
      <md-list-item  ng-click="selectNote(theme)" class="md-1-line" ng-attr-style="{{selectedStyle(theme)}}">   
        <p >
          <i class="fa fa-caret-right"></i>
          &nbsp;
          {{theme.name}}
        </p>

        <md-button class="md-secondary i_btn" title="add annotation" aria-label="addAnnotation" ng-click="addNoteInTheme(theme)">
          <i class="fa fa-plus"></i>
        </md-button>

        <md-button class="md-secondary i_btn" title="view all item" aria-label="viewAllItem" ng-click="ViewAllNotes(theme)">
          <i class="fa fa-eye"></i>
        </md-button>

        <md-button class="md-secondary i_btn" title="rename" aria-label="rename" ng-click="renameNote(theme)">
          <i class="fa fa-pencil"></i>
        </md-button>

        <md-button class="md-secondary i_btn" title="delete" aria-label="delete" ng-click="deleteNote(theme)">
          <i class="fa fa-trash"></i>
        </md-button>

        <md-button class="md-secondary i_btn" title="export" aria-label="export" ng-click="exportTheme(theme)">
          <i class="fa fa-upload"></i>
        </md-button>
        
      </md-list-item>

      <md-list class='md-list-item-text'>
          <md-list-item ng-repeat="annotation in theme.listModel" ng-click="selectNote(annotation)" class="md-1-line" ng-attr-style="{{selectedStyle(annotation)}}">
            
            <p>{{ annotation.title }}</p>
            
            <md-button class="md-secondary i_btn" title="add items Selected" aria-label="addModelInNote"  ng-click="addItemInNote(annotation)">
                <i class="fa fa-plus"></i>
            </md-button>

            <md-button class="md-secondary" colorpicker ng-model="annotation.color" class="color_pick" ng-attr-style="background : {{annotation.color}}" name="{{annotation._server_id}}" aria-label="Select Color">
            </md-button>

            <md-button class="md-secondary i_btn" title="color all item" aria-label="Toggle View Note" ng-click="ViewAllNotes(annotation)">
                <i class="fa {{getViewIcon(annotation)}}"></i>
            </md-button>

            <md-button class="md-secondary i_btn" title="rename" aria-label="Rename Note" ng-click="renameNote(annotation)">
                <i class="fa fa-pencil"></i>
            </md-button>

            <md-button class="md-secondary i_btn" title="delete" aria-label="Delete Note" ng-click="deleteNote(theme,annotation)">
                <i class="fa fa-trash"></i>
            </md-button>

            <md-button class="md-secondary i_btn" title="add comment" aria-label="Comment Note" ng-click="commentNote(annotation)">
                <i class="fa fa-comment"></i>
            </md-button>

            <md-button class="md-secondary i_btn" title="add file" aria-label="Send File" ng-click="sendFile(annotation)">
                <i class="fa fa-file"></i>
            </md-button>
            
        </md-list-item>
      </md-list>
    </div>

    

  </md-list>

</md-content> -->


<md-content class="panelContent">

  <md-input-container class="md-block" flex-gt-sm>
    <label>Theme Selected</label>
    <md-select ng-model="currentTheme" ng-change="themeChanged()">
      <md-option ng-repeat="theme in themes" value="{{theme._server_id}}">
        {{theme.name}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-list>
    <md-list-item ng-if="currentTheme == null">
      <h5>No theme selected !</h5>
    </md-list-item>

    <div ng-if="currentTheme != null">
      <div class="theme_icon">
        <md-button class="md-secondary i_btn" title="add annotation" aria-label="addAnnotation" ng-click="addNoteInTheme(currentThemeSelected)">
            <i class="fa fa-plus"></i>
          </md-button>
  
          <md-button class="md-secondary i_btn" title="view all item" aria-label="viewAllItem" ng-click="ViewAllNotes(currentThemeSelected)">
            <i class="fa fa-eye"></i>
          </md-button>
  
          <md-button class="md-secondary i_btn" title="rename" aria-label="rename" ng-click="renameNote(currentThemeSelected)">
            <i class="fa fa-pencil"></i>
          </md-button>
  
          <md-button class="md-secondary i_btn" title="delete" aria-label="delete" ng-click="deleteNote(currentThemeSelected)">
            <i class="fa fa-trash"></i>
          </md-button>
  
          <md-button class="md-secondary i_btn" title="export" aria-label="export" ng-click="exportTheme(currentThemeSelected)">
            <i class="fa fa-upload"></i>
          </md-button>
        </div>

      <md-list-item  ng-repeat="annotation in currentThemeSelected.listModel">
          <p>{{ annotation.title }}</p>
      </md-list-item>
    </div>

  </md-list>

</md-content>