
<style>

  .messageContainer {
      width: 95%;
      height: 79%;
      margin: auto;
      overflow-y: auto;
      color : #000000;
      
  }

  .message_div {
    width : 100%;
    min-height: 20%;
  }



  .form_div {
    padding-top: 15px;
    max-width: 100%;
    min-height: 15%;

}

.textarea_div {
    width: 100%;
    margin-bottom: 10px;
    color: #000000;
}

.content {
    width: 100%;
    height: 100%;
}

.message_div {
    width : 100%;
    min-height: 20%;
    padding: 5px;
}

.message_date {
    width: 45%;
    text-align: right;
    height: 20px;
    float: right;
    color : #7E8282;
}

._message {
    width : 100%;
    min-height: 10%;
}

.message_owner {
    width: 45%;
    height: 20px;
    float: left;
    text-transform: uppercase;
    font-size: 1em;
}

.message_content {
    width: 95%;
    min-height: 10%;
    padding: 7px;
    margin: auto;
}

  .close_div {
      width: 100%;
      height: 20px;
      text-align: right;
      font-size: 1em;
      padding-right: 5px;
  }

  .message_text {
    width : 100%;
    min-height: 10%;
    text-align: justify;
    word-wrap: break-word;
  }

  .user_message {
      background: #1158db !important;
  }

  .notUserMessage {
      background: #7e8282 !important;
  }


  .form_div {
    padding-top: 15px;
    width: 95%;
    min-height: 15%;
    margin: auto;
  }

  ._mess {
    width: 100%;
    height: 20px;
    border : 1px dotted blue;
  }

  .formControl {
    width: 100% !important;
  }

</style>

<div class="panelContent">
  <div class="messageContainer">
    <div class="message_div" ng-class="{ user_message : isUserMessage(message.owner) , notUserMessage : !isUserMessage(message.owner)}" ng-repeat="message in messages.notes">
      
      <div class="close_div" ng-if="isUserMessage(message.owner)" ng-click="removeMessage(message)">
          <span class="close">X</span>
      </div>

      <div class="_mess">
          <div class="message_owner">{{message.username}}</div>
          <div class="message_date">{{message.date | date : "dd/MM/y 'at' HH:mm:ss"}}</div>
      </div>
      
      <div class="_message">
        <div class="message_content">
          <div class="message_text">{{message.message}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="form_div">
    <div class="textarea_div">
      <textarea class="formControl" rows="2" placeholder="add text" ng-model="messageText"></textarea>
    </div>

    <div class="send_button_div">
      <button class="btn" ng-click="SendMessage()">
        <i class="fa fa-paper-plane"></i>
        Send
      </button>
    </div>

  </div>

</div>