
<style>
    .myContainer {
        padding-top : 20px;
    }
</style>

<md-dialog aria-label="addLink" style="padding : 30px;">
    <h3>Add Link</h3>
    <form ng-cloak>

        <md-dialog-content class="myContainer">
            <md-input-container class="md-block">
            <label>Label</label>
            <input ng-model="label">
            </md-input-container>

            <md-input-container class="md-block">
            <label>Link</label>
            <input ng-model="link">
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
            Cancel
            </md-button>
            <md-button ng-click="answer()" class="md-primary">
            OK
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>